html{
    height: 100%;
}
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
#background{
	min-height: 100vh;
	background: url("../media/animal-4855514_1920.jpg")
		no-repeat;
	background-size: cover;
	background-position: center;
    filter:hue-rotate(0deg);
    filter:saturate(0.9);
}
#login{
    position: absolute;
    max-width: 500px;
    left: 0px;
    right: 0px;
    padding:0;
    margin: auto;
    background-clip: content-box;
    background-color: rgba(247, 247, 247,0.8);
    backdrop-filter: blur(2px);
}
h1{
    text-align:center;
    margin-bottom:40px;
}
form{
    max-width:260px;
    margin:auto;
    margin-bottom: 22px;
    text-align:left;
}
input{
    display:block;
    width:90%;
    padding:5px;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
}
#stay-signed-in{
    display:inline;
    width:auto;
    margin:0 1em 1.2em 0.5em;
    cursor: pointer;
}
#user-icon{
    display:block;
    width:80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
#submitbutton{
    width: 95%;
    background-color: rgb(70, 232, 113);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
}